parameters:
	ignoreErrors:
		-
			message: '#^Access to an undefined property AdelinFeraru\\NestedFlowTracker\\Models\\FNTrack\:\:\$context\.$#'
			identifier: property.notFound
			count: 1
			path: src/Models/FNTrack.php

		-
			message: '#^Access to an undefined property AdelinFeraru\\NestedFlowTracker\\Models\\FNTrack\:\:\$duration\.$#'
			identifier: property.notFound
			count: 1
			path: src/Models/FNTrack.php

		-
			message: '#^Access to an undefined property AdelinFeraru\\NestedFlowTracker\\Models\\FNTrack\:\:\$parent_id\.$#'
			identifier: property.notFound
			count: 1
			path: src/Models/FNTrack.php

		-
			message: '#^Access to an undefined property AdelinFeraru\\NestedFlowTracker\\Models\\FNTrack\:\:\$tracker_id\.$#'
			identifier: property.notFound
			count: 1
			path: src/Models/FNTrack.php

		-
			message: '#^Access to an undefined property AdelinFeraru\\NestedFlowTracker\\Models\\FNTrack\:\:\$user_id\.$#'
			identifier: property.notFound
			count: 1
			path: src/Models/FNTrack.php

		-
			message: '#^Call to function is_array\(\) with non\-empty\-array will always evaluate to true\.$#'
			identifier: function.alreadyNarrowedType
			count: 1
			path: src/Models/FNTrack.php

		-
			message: '#^Access to an undefined property AdelinFeraru\\NestedFlowTracker\\Models\\FNTrack\:\:\$component\.$#'
			identifier: property.notFound
			count: 1
			path: src/NestedFlowTracker.php

		-
			message: '#^Access to an undefined property AdelinFeraru\\NestedFlowTracker\\Models\\FNTrack\:\:\$context\.$#'
			identifier: property.notFound
			count: 1
			path: src/NestedFlowTracker.php

		-
			message: '#^Access to an undefined property AdelinFeraru\\NestedFlowTracker\\Models\\FNTrack\:\:\$message\.$#'
			identifier: property.notFound
			count: 1
			path: src/NestedFlowTracker.php

		-
			message: '#^Access to an undefined property AdelinFeraru\\NestedFlowTracker\\Models\\FNTrack\:\:\$parent_id\.$#'
			identifier: property.notFound
			count: 1
			path: src/NestedFlowTracker.php

		-
			message: '#^Access to an undefined property AdelinFeraru\\NestedFlowTracker\\Models\\FNTrack\:\:\$result\.$#'
			identifier: property.notFound
			count: 1
			path: src/NestedFlowTracker.php

		-
			message: '#^Access to an undefined property AdelinFeraru\\NestedFlowTracker\\Models\\FNTrack\:\:\$tracker_id\.$#'
			identifier: property.notFound
			count: 4
			path: src/NestedFlowTracker.php

		-
			message: '#^Access to an undefined property AdelinFeraru\\NestedFlowTracker\\Models\\FNTrack\:\:\$user_id\.$#'
			identifier: property.notFound
			count: 2
			path: src/NestedFlowTracker.php

		-
			message: '#^Call to function is_null\(\) with null will always evaluate to true\.$#'
			identifier: function.alreadyNarrowedType
			count: 1
			path: src/NestedFlowTracker.php

		-
			message: '#^Method AdelinFeraru\\NestedFlowTracker\\NestedFlowTracker\:\:startTrack\(\) should return AdelinFeraru\\NestedFlowTracker\\Models\\FNTrack but returns false\.$#'
			identifier: return.type
			count: 1
			path: src/NestedFlowTracker.php

		-
			message: '#^Negated boolean expression is always false\.$#'
			identifier: booleanNot.alwaysFalse
			count: 1
			path: src/NestedFlowTracker.php

		-
			message: '#^PHPDoc tag @param references unknown parameter\: \$parent_id$#'
			identifier: parameter.notFound
			count: 1
			path: src/NestedFlowTracker.php

		-
			message: '#^Parameter \#1 \$tracker_id of static method AdelinFeraru\\NestedFlowTracker\\NestedFlowTracker\:\:setTrackerId\(\) expects null, mixed given\.$#'
			identifier: argument.type
			count: 2
			path: src/NestedFlowTracker.php

		-
			message: '#^Unsafe usage of new static\(\)\.$#'
			identifier: new.static
			count: 1
			path: src/NestedFlowTracker.php

		-
			message: '#^Called ''env'' outside of the config directory which returns null when the config is cached, use ''config''\.$#'
			identifier: larastan.noEnvCallsOutsideOfConfig
			count: 3
			path: src/config/nestedflowtracker.php
